/* reset css */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}
img {
  width: 100%;
}
/* main css */
.slide {
  width: 750px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}
.toolbar {
  background-color: #1877f2;
  margin-top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}
#prev{
    font-size: 20px;
    margin-right: 1.5rem;
    color: white;
    background-color: #39475D;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}
#page{
color: white;
}
#next{
    font-size: 20px;
    margin-left: 1.5rem;
    color: white;
    background-color: #39475D;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}
